/*
primero van los partials de la carpeta utilities
*/
/*
despues los partials de la capeta base
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*
luego los de la carpeta layout
  */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6666666667), transparent);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}
.header .barraNav {
    list-style: none;
    display: flex;
    gap: 150px;
}
.header li a {
    text-decoration: none;
    color: red;
}
.header li a:hover {
    background-color: white;
    border-radius: 4px;
}

h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.gridindex {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "sectionmain-1 sectionmain-1 sectionmain-1 sectionmain-2 sectionmain-2 sectionmain-2" "sectionmain-3 sectionmain-3 sectionmain-3 sectionmain-4 sectionmain-4 sectionmain-4" "sectionmain-5 sectionmain-5 sectionmain-5 sectionmain-6 sectionmain-6 sectionmain-6";
    gap: 10px;
}

.sectionmain-1, .sectionmain-6, .sectionmain-5, .sectionmain-4, .sectionmain-3, .sectionmain-2 {
    background-image: url("../assets/poligono1.jpg");
    grid-area: sectionmain-1;
    background-position: center;
    object-fit: contain;
    text-align: center;
    color: red;
    background-size: 100% 100%;
}
.sectionmain-1 div p, .sectionmain-6 div p, .sectionmain-5 div p, .sectionmain-4 div p, .sectionmain-3 div p, .sectionmain-2 div p {
    margin: 100px;
    font-size: 45px;
    font-weight: bold;
}
.sectionmain-1:hover, .sectionmain-6:hover, .sectionmain-5:hover, .sectionmain-4:hover, .sectionmain-3:hover, .sectionmain-2:hover {
    color: white;
}

.sectionmain-2 {
    grid-area: sectionmain-2;
    background-image: url("../assets/poligono2.jpg");
}

.sectionmain-3 {
    grid-area: sectionmain-3;
    background-image: url("../assets/poligono3.jpg");
}

.sectionmain-4 {
    grid-area: sectionmain-4;
    background-image: url("../assets/poligono4.jpg");
}

.sectionmain-5 {
    grid-area: sectionmain-5;
    background-image: url("../assets/poligono55.jpg");
}

.sectionmain-6 {
    grid-area: sectionmain-6;
    background-image: url("../assets/poligono6.jpg");
}

.grid-container {
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    margin-top: 100px;
  }
  
  .seccion-2, .seccion-5, .seccion-4, .seccion-3 {
    background-image: url("../assets/linea1.jpg");
    object-fit: contain;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  .seccion-3 {
    background-image: url("../assets/linea2.jpg");
  }
  
  .seccion-4 {
    background-image: url("../assets/linea3.jpg");
  }
  
  .seccion-5 {
    background-image: url("../assets/linea4.jpg");
  }
  
  .productos {
    width: 450px;
    height: 500px;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
  }
  
  .card-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
  }
  
  .card1-img {
    width: 100%;
    height: 60%;
  }
  .card1-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .card1 {
    text-align: center;
  }
  
  .lineatiempo, .finance p, .locationsite p {
    color: red;
    width: 300px;
    height: 200px;
    text-align: center;
    justify-self: center;
    margin-top: 20px;
  }
  
  .boton {
    border-style: solid;
    border-width: 3px;
    background-color: red;
    margin: 10px 10px;
    width: 200px;
    height: 40px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
  }
  
  .submit {
    padding: 8px 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: red;
    border: red;
    color: black;
    font-weight: bold;
  }
  
  input {
    width: 300px;
    height: 40px;
    background-color: black;
    color: red;
  }
  
  .indexPrin {
    background-image: url("../assets/golfgti fondo.avif");
    width: 100%;
  }
  
  .section-principal {
    background-image: url("../assets/golfgti fondo.avif");
    width: 100%;
    height: 40rem;
    background-position: center 1200px;
  }
  
  .locationsite div {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    justify-self: center;
    margin-bottom: 25px;
  }
  
  .inventario {
    background-image: url("../assets/fondo3.avif");
    width: 100%;
    height: 100%;
    background-position: center 1250px;
  }
  
  .finance {
    background-image: url("../assets/fondo6.avif");
    width: 100%;
    height: 100%;
    background-position: center 1250px;
  }
  
  .location {
    background-color: black;
  }
  
  .aboutus {
    background-color: black;
  }
  
  .piedepag {
    background-color: #24262b;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
  }
  .piedepag .links h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    display: inline-block;
  }
  .piedepag .links ul li a {
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: red;
    display: block;
    margin-bottom: 15px;
  }
  .piedepag .links ul li a:hover {
    color: white;
    padding-left: 6px;
  }
  
  /*
  despues los components
  */
  .tracking-in-contract {
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @media (max-width: 1024px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: row;
    }
    .parrafo {
      justify-self: center;
      width: 100%;
    }
    .parrafo p {
      justify-self: center;
      width: 100%;
      text-align: center;
    }
    .lineatiempo p, .locationsite p p, .finance p p {
      text-align: center;
    }
    .grid-container {
      display: grid;
      width: 100%;
      height: 300px;
      grid-template-columns: 75px 22% 22% 23% 23% 75px;
      margin-top: 100px;
    }
    .locationsite article p {
      text-align: center;
    }
    .footer-row {
      text-align: center;
    }
    .links {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 850px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: row;
      width: 100%;
    }
    .parrafo {
      justify-self: center;
      width: 100%;
    }
    .parrafo p {
      justify-self: center;
      width: 100%;
      text-align: center;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    .card-container2 {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    .lineatiempo p, .locationsite p p, .finance p p {
      text-align: center;
    }
    .section-principal {
        background-color: black;
    }
    .grid-container {
      display: grid;
      width: 100%;
      height: 300px;
      grid-template-columns: 75px 22% 22% 23% 23% 75px;
      margin-top: 100px;
    }
    .locationsite article p {
      text-align: center;
    }
    iframe {
      margin-top: 20px;
    }
    .gridindex {
      display: grid;
      
      min-height: 100dvh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "sectionmain-1 sectionmain-1 sectionmain-1" "sectionmain-2 sectionmain-2 sectionmain-2" "sectionmain-3 sectionmain-3 sectionmain-3" "sectionmain-4 sectionmain-4 sectionmain-4" "sectionmain-5 sectionmain-5 sectionmain-5" "sectionmain-6 sectionmain-6 sectionmain-6";
      gap: 10px;
    }
    .sectionmain-1, .sectionmain-2, .sectionmain-3, .sectionmain-4, .sectionmain-5, .sectionmain-6 {
      background-image: url("../assets/poligono1.jpg");
      grid-area: sectionmain-1;
      background-position: center;
      object-fit: contain;
      text-align: center;
      color: red;
      background-size: 100% 100%;
    }
    .sectionmain-1 div p, .sectionmain-2 div p, .sectionmain-3 div p, .sectionmain-4 div p, .sectionmain-5 div p, .sectionmain-6 div p {
      margin: 100px;
      font-size: 45px;
      font-weight: bold;
    }
    .sectionmain-1:hover, .sectionmain-2:hover, .sectionmain-3:hover, .sectionmain-4:hover, .sectionmain-5:hover, .sectionmain-6:hover {
      color: white;
    }
    .sectionmain-2 {
      grid-area: sectionmain-2;
      background-image: url("../assets/poligono2.jpg");
    }
    .sectionmain-3 {
      grid-area: sectionmain-3;
      background-image: url("../assets/poligono3.jpg");
    }
    .sectionmain-4 {
      grid-area: sectionmain-4;
      background-image: url("../assets/poligono4.jpg");
    }
    .sectionmain-5 {
      grid-area: sectionmain-5;
      background-image: url("../assets/poligono55.jpg");
    }
    .sectionmain-6 {
      grid-area: sectionmain-6;
      background-image: url("../assets/poligono6.jpg");
    }
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: column;
    }
    .parrafo {
      justify-self: center;
      width: 100%;
    }
    .parrafo p {
      justify-self: center;
      width: 100%;
      text-align: center;
    }
    .grid-container {
      grid-template-rows: 80px 80px 80px 80px;
      margin-bottom: 100px;
    }
    .seccion-2, .seccion-3, .seccion-4, .seccion-5 {
      grid-column: 3/5;
      grid-row: 1/2;
      background-size: 150% 150%;
    }
    .seccion-3 {
      grid-column: 3/5;
      grid-row: 2/3;
      background-size: 150% 150%;
    }
    .seccion-4 {
      grid-column: 3/5;
      grid-row: 3/4;
      background-size: 150% 150%;
    }
    .seccion-5 {
      grid-column: 3/5;
      grid-row: 4/5;
      background-size: 150% 150%;
    }
    .piedepag {
      flex-direction: column;
      text-align: center;
    }
  }
  @media (max-width: 425px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: column;
    }
    .parrafo {
      justify-self: center;
      width: 100%;
    }
    .parrafo p {
      justify-self: center;
      width: 100%;
      text-align: center;
    }
    .piedepag {
      flex-direction: column;
      text-align: center;
    }
  }
  @media (max-width: 375px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: column;
    }
    .parrafo {
      justify-self: center;
      width: 100%;
    }
    .parrafo p {
      justify-self: center;
      width: 100%;
      text-align: center;
    }
    .piedepag {
      flex-direction: column;
      text-align: center;
    }
  }
  @media (max-width: 320px) {
    .header {
      flex-direction: column;
      background-color: #24262b;
      width: 100%;
    }
    .barraNav {
      flex-direction: column;
    }
    .gridindex {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }
    .parrafo {
      justify-self: center;
    }
    .parrafo p {
      justify-self: center;
      text-align: center;
      width: 100px;
      height: 200px;
    }
    .lineatiempo p {
        width: 100px;
        height: 100px;
    }
    .inventario {
        background-color: black;
    }
    .piedepag {
      flex-direction: column;
      text-align: center;
      background-color: #24262b;

    }
    .locationsite p {
        width: 100px;
        height: 100px;
        display: flex;
        justify-self: center;
    }
  }
  /*
  por ultimo los mediaquery, en orden decreciente
  de desktop a mobile
  */
  
  /*# sourceMappingURL=style.css.map */
  