.header {
    background: linear-gradient(#000a,transparent);
    width: 100%;
    @include flex(row,center,1.25rem);
    .barraNav{
        list-style: none;
        display: flex;
        gap: 150px;
        }
        li a {
            text-decoration: none;
            color: map-get($color , primario );
            &:hover {
                background-color: map-get($color , terciario );
                border-radius: 4px;
            }
        }
}


